%h3 Heeeeey! Here you can see all my posts:
%table{:border => "0"}
  %tbody
    %tr
      %th.head_title Title
      %th.head_title Description
      %th.head_title Created at
    = render :partial => "post", :collection => @posts