/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

div.main_container {
  width: 951px;
  margin: 0 auto;
  display: block;
}

.total_form_style {
  border: 1px solid #EEEEEE;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px #777777;
  color: #333333;
  font-size: 14px;
  padding: 15px 11px;
  background-color: #F5FFF5;
}

.central_content {
  width: auto;
  min-width: 540px;
  max-width: 611px;
  margin: 25px 0 12px;
  float: left;
}

.left_sidebar {
  float: left;
  width: auto;
  max-width: 210px;
  min-width: 150px;
  margin: 25px 5px 0px 5px;
}
.right_sidebar {
  float: right;
  width: auto;
  margin: 25px 0px 0px 5px;
}

a {
  font-size: 14px;
  font-family: Arial,Helvetica,sans-serif;
  color: #222222;
  font-weight: bold;
  text-decoration: none;
  background-color: #EBEBEB;
  padding: 2px 4px;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-radius: 4px 4px 4px 4px;
  border-color: #777777;
  display: -moz-inline-stack;
  margin-bottom: 2px;
}

a:active {
  color: green;
}

a:hover {
  color: red;
}

.textfield_label {
  font-size: 12px;
  font-family: Arial,Helvetica,sans-serif;
  color: #222222;
  font-weight: bold;
  margin-top: 10px;
}

.top_title {
  margin: 0px 0px 10px 0px;
  font-size: 14px;
  font-weight: bold;
}

.action_button {
  margin: 10px 5px 10px 0px;
}

table th{
  text-align: center;
  font-size: 13px;
  padding: 5px 10px;
  background-color: white;
  border-collapse: collapse;
  border-top: 1px red;
  border-top-style: inherit;
}