.top_navigation {
  width: auto;
  height: 40px;
  margin: 10px 5px 10px 5px;
  align: center;
  .links { 
    width: auto;
    margin-bottom: 10px;
    li {
      list-style-type: none;
      display: inline;
      margin: 2px 5px;
    }
    .login {
      float: right;
    }
  }
}