.top_navigation {
  display: block;
  height: 45px;
  background: -moz-linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
  border-bottom: 1px solid #CACACA;
  padding-top: 5px;
  .links {
    margin: 0 auto;
    clear: both;
    li {
      list-style-type: none;
      display: inline;
      float: left;
    }
    li.simple {
      margin: 2px 0px;
      padding: 8px 10px;
      border-right: 1px solid #CACACA;
    }
    .login {
      float: right;
      padding: 8px 10px;
    }
    .logo img {
      width: 35px;
      border: none;
    }
  }
}