%ul#categories.filetree
  %li
    %span.folder Folder 1
    %ul
      %li
        %span.file Item 1.1
  %li
    %span.folder Folder 2
    %ul
      %li
        %span.folder Subfolder 2.1
        %ul#folder21
          %li
            %span.file File 2.1.1
          %li
            %span.file File 2.1.2
      %li
        %span.file File 2.2
  %li.closed
    %span.folder Folder 3 (closed at start)
    %ul
      %li
        %span.file File 3.1
  %li
    %span.file File 4

- if @categories.any?
- else
  = "You have no categories"

:javascript
  $(document).ready(function(){
    $("ul#categories").treeview();
  })