Categories:
- top_categories = @categories.first_level

- if @categories.any?
  %ul#categories.filetree
    - top_categories.each do |category|
      %li
        %span.folder{:id => "category_#{category.id}"}= category.name
        = check_for_posts(category).html_safe
        = subcategory_for(category).html_safe
- else
  = "You have no categories"

:javascript
  $(document).ready(function(){
    $("ul#categories").treeview();
  })

  $('span.file').click(function() {
    var post_id = $(this).attr('id').split('_')[1];
    $.ajax({
      url: '/posts/'+ post_id,
      type: "GET",
      async: true,
      success: function(data) {
        $('.central_content.total_form_style').empty();
        $('.central_content.total_form_style').append(data);
      }
    });
  });

  $('span.folder').dblclick(function() {
    var category_id = $(this).attr('id').split('_')[1];
    $.ajax({
      url: '/categories/'+ category_id + '/edit',
      type: "GET",
      async: true,
      success: function(data) {
        $('.central_content.total_form_style').empty();
        $('.central_content.total_form_style').append(data);
      }
    });
  });